
:root[data-theme="light"]{ /*Handles dark and light mode*/
    --bg-color: rgb(255, 255, 255);
    --bg-secondary-color: rgba(230, 230, 230, 0.3);
    --bg-border-color: rgb(200, 200, 200);
    --text-color: rgb(5, 5, 5);

    --shadow-color-04: rgba(0, 0, 0, 0.4);
    --shadow-color-02: rgba(0, 0, 0, 0.2);

    --transparent: rgba(0, 0, 0, 0);

    --button-disabled: #8a8a8a;
    --button-disabled-hover: #7c7c7c;
    --button-disabled-active: #505050;
    --button-color: rgb(50, 50, 50);
    --button-border-color: rgb(73, 73, 73);

    --button-border-color: rgb(88, 88, 88);
    --button-border-color-hover: rgb(100, 100, 100);

    --button-primary-color: rgb(123, 123, 123);
    --button-primary-border-color: rgb(145, 145, 145);

    --navbar-gradient: linear-gradient(rgb(45, 45, 45) 70%, #ffffff00 80%);
    --paginator-gradient: linear-gradient(#ffffff00, #ffffff);

    --bg-txtbox-color: rgb(255, 255, 255);
    --txtbox-border-color: rgb(220, 220, 220);
}
:root[data-theme="dark"]{
    --bg-color: rgb(25, 25, 25);
    --bg-secondary-color: rgb(35, 35, 35,0.3);
    --bg-border-color: rgb(45, 45, 45);
    --text-color: rgb(255, 255, 255);
    
    --shadow-color-04: rgb(0, 0, 0);
    --shadow-color-02: rgba(0, 0, 0, 0.5);

    --transparent: rgba(0, 0, 0, 0);
    
    --button-disabled: #4a4a4a;
    --button-disabled-hover: #5a5a5a;
    --button-disabled-active: #707070;
    
    --button-color: rgb(30, 30, 30);
    --button-border-color: rgb(60, 60, 60);
    --button-border-color-hover: rgb(80, 80, 80);
    
    --button-primary-color: rgb(200, 200, 200);
    --button-primary-border-color: rgb(220, 220, 220);

    --navbar-gradient: linear-gradient(rgb(25, 25, 25) 70%, rgba(0, 0, 0, 0) 80%);
    --paginator-gradient: linear-gradient(rgba(0, 0, 0, 0), rgb(0, 0, 0));

    --bg-txtbox-color: rgba(50, 50, 50);
    --txtbox-border-color: rgb(70, 70, 70);
    --bg-txtbox-color-focused: rgba(80, 80, 80);
    --txtbox-border-color-focused: rgb(100, 100, 100);
}


body {
    color: var(--text-color);
    background-color: var(--bg-color);
}

div{
    color: var(--text-color);
}

.cloud_container{
    filter: opacity(25%);
    position: absolute;
    mix-blend-mode: multiply;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    left:  0px;
    top: 0px;
    z-index: 0;
    pointer-events: none;
    clip-path: rect(5px 100% 100% 5px);
}

.cloud{
    position: absolute;
    z-index: 0;
}

.bubble_container{
    position: absolute;
    mix-blend-mode: multiply;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    left:  0px;
    top: 0px;
    pointer-events: none;
    clip-path: rect(5px 100% 100% 5px);
}

.bubble{
    pointer-events: none;
}

.post_title{
    display: inline-block;
    margin-left: 0.5rem;
}
.post_body{
    margin: 5px; 
    box-shadow: 5px 5px 10px var(--shadow-color-02);
    transition: all 100ms ease-out;
    transform: scale(1.00);
}

.post_body:hover{
    margin: 5px; 
    box-shadow: 5px 5px 10px var(--shadow-color-04);
    transition: all 100ms ease-out;
    transform: scale(1.02);
}

.post_body_noscale{
    margin: 5px;
    color: var(--text-color);
    box-shadow: 5px 5px 10px var(--shadow-color-02);
    transition: all 100ms ease-out;
    transform: scale(1.00);
}

.scale-hover{
    transform: scale(1.00);
    transition: all 100ms ease-out;
}

.scale-hover:hover{
    transform: scale(1.2);
}

.paginator-arrows{
    transform: scale(1.00);
    transition: all 100ms ease-out;
}

.paginator-arrows:hover{
    transform: scale(1.3);
}

.paginator-arrows-disabled{
    filter: opacity(25%);
}

.paginator-fixed{
    height: 5rem;
    position: fixed;
    bottom: 0;
    left: 0;
    background: var(--paginator-gradient);
    width: 100%;
    text-align: center;
}

.paginator-blog{
    height: 5rem;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
}

.navbar{
    background: var(--navbar-gradient);
    padding-bottom: 2rem;
}

.nav-link{
    padding: 0.6rem;
    transform: scale(1.00);
    transition: all 100ms ease-out;
}

.nav-link:hover{
    padding: 0.6rem;
    transform: scale(1.2);
}


.button_shadow{
    box-shadow: 2px 2px 5px var(--shadow-color-04);
}

.btn-primary{
    color: var(--text-color);
    background-color: var(--button-color);
    border-color: var(--button-border-color);
    transition: all 100ms ease-out;
    transform: scale(1.00);
}

.btn-primary:hover{
    background-color: var(--button-border-color);
    border-color: var(--button-border-color-hover);
    transition: all 100ms ease-out;
    transform: scale(1.03);
}

.btn-primary-disabled{
    background-color: var(--button-disabled);
    border-color: var(--main-button-border-color);
}

.btn-primary-disabled:hover{
    background-color: var(--button-disabled-hover);
    border-color: var(--button-border-color-hover);
}

.btn-primary-disabled:active{
    background-color: var(--button-disabled-active) !important;
    border-color: var(--main-button-border-color);
}

.btn-danger{
    transition: all 100ms ease-out;
    transform: scale(1.00);
}

.btn-danger:hover{
    transition: all 100ms ease-out;
    transform: scale(1.03);
}

.btn-primary:active{
    background-color: var(--button-primary-color) !important;
    border-color: var(--button-primary-border-color) !important; 
}

.card-header{
    background-color: var(--bg-secondary-color);
    border-bottom: var(--bs-card-border-width) solid var(--bg-border-color);
    position: relative;
    border-radius: 5px;
}

.form-control{
    color: var(--text-color);
    background-color: var(--bg-txtbox-color);
    border-color: var(--txtbox-border-color);
}

.form-control:focus{
    color: var(--text-color);
    background-color: var(--bg-txtbox-color);
    border-color: var(--txtbox-border-color);
}

.form-select{
    color: var(--text-color);
    background-color: var(--bg-txtbox-color);
    border-color: var(--txtbox-border-color);
}

.form-select:focus{
    color: var(--text-color);
    background-color: var(--bg-txtbox-color);
    border-color: var(--txtbox-border-color);
}

.div_link{ 
  position:absolute; 
  width:100%;
  height:100%;
  top:0;
  left: 0;

  z-index: 1;

  /* fixes overlap error in IE7/8, 
     make sure you have an empty gif */
  background-image: url('empty.gif');
}
/*https://stackoverflow.com/questions/796087/make-a-div-into-a-link*/