
:root[data-theme="light"]{ /*Handles dark and light mode*/
    --bg-color: rgb(255, 255, 255);
    --bg-secondary-color: rgba(230, 230, 230, 0.3);
    --bg-border-color: rgb(200, 200, 200);
    --text-color: rgb(5, 5, 5);
    --text-color-faded: rgb(5, 5, 5, 0.5);

    --shadow-color-08: rgba(0, 0, 0, 0.8);
    --shadow-color-04: rgba(0, 0, 0, 0.4);
    --shadow-color-02: rgba(0, 0, 0, 0.2);

    --transparent: rgba(0, 0, 0, 0);

    --bubble-brightness: 0.5;

    --button-disabled: #8a8a8a;
    --button-disabled-hover: #7c7c7c;
    --button-disabled-active: #505050;

    --button-border-color: rgb(180, 180, 180);
    --button-border-color-hover: rgb(200, 200, 200);

    --button-primary-color-hover: rgb(255, 255, 255);
    --button-primary-color: rgb(245, 245, 245);

    --navbar-gradient: linear-gradient(rgb(45, 45, 45, 0.6) 80%, #ffffff00 90%);
    --paginator-gradient: linear-gradient(#ffffff00, #ffffff);

    --bg-txtbox-color: rgb(245, 245, 245);
    --txtbox-border-color: rgb(220, 220, 220);
    --bg-txtbox-color-focused: rgb(255, 255, 255);
    --txtbox-border-color-focused: rgb(240, 240, 240);
}
:root[data-theme="dark"]{
    --bg-color: rgb(45, 45, 45);
    --bg-secondary-color: rgb(75, 75, 75,0.3);
    --bg-border-color: rgb(75, 75, 75);
    --text-color: rgb(255, 255, 255);
    --text-color-faded: rgb(255, 255, 255, 0.5);
    
    --shadow-color-04: rgb(0, 0, 0);
    --shadow-color-02: rgba(0, 0, 0, 0.5);

    --transparent: rgba(0, 0, 0, 0);

    --bubble-brightness: 1.0;
    
    --button-disabled: #4a4a4a;
    --button-disabled-hover: #5a5a5a;
    --button-disabled-active: #707070;
    
    --button-border-color: rgb(80, 80, 80);
    --button-border-color-hover: rgb(100, 100, 100);
    
    --button-primary-color: rgba(45, 45, 45);
    --button-primary-color-hover: rgb(70, 70, 70);

    --navbar-gradient: linear-gradient(rgb(45, 45, 45,0.6) 80%, rgba(0, 0, 0, 0) 90%);
    --paginator-gradient: linear-gradient(rgba(0, 0, 0, 0), rgb(0, 0, 0));

    --bg-txtbox-color: rgba(45, 45, 45);
    --txtbox-border-color: rgb(70, 70, 70);
    --bg-txtbox-color-focused: rgba(60,60,60);
    --txtbox-border-color-focused: rgb(80, 80, 80);
}

/* Old dark theme
:root[data-theme="dark"]{
    --bg-color: rgb(25, 25, 25);
    --bg-secondary-color: rgb(35, 35, 35,0.3);
    --bg-border-color: rgb(45, 45, 45);
    --text-color: rgb(255, 255, 255);
    
    --shadow-color-04: rgb(0, 0, 0);
    --shadow-color-02: rgba(0, 0, 0, 0.5);

    --transparent: rgba(0, 0, 0, 0);
    
    --button-disabled: #4a4a4a;
    --button-disabled-hover: #5a5a5a;
    --button-disabled-active: #707070;
    
    --button-border-color: rgb(60, 60, 60);
    --button-border-color-hover: rgb(80, 80, 80);
    
    --button-primary-color: rgba(30, 30, 30);
    --button-primary-color-hover: rgb(60, 60, 60);

    --navbar-gradient: linear-gradient(rgb(25, 25, 25) 80%, rgba(0, 0, 0, 0) 90%);
    --paginator-gradient: linear-gradient(rgba(0, 0, 0, 0), rgb(0, 0, 0));

    --bg-txtbox-color: rgba(30, 30, 30);
    --txtbox-border-color: rgb(60, 60, 60);
    --bg-txtbox-color-focused: rgba(40, 40, 40);
    --txtbox-border-color-focused: rgb(70, 70, 70);
}
*/

body {
    color: var(--text-color);
    background-color: var(--bg-color);
}

div{
    color: var(--text-color);
}

.text_color{
    color: var(--text-color);
}

.text_fadded{
    color: var(--text-color-faded);
}

.cloud_container{
    filter: opacity(25%);
    position: absolute;
    mix-blend-mode: multiply;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    left:  0px;
    top: 0px;
    z-index: 0;
    pointer-events: none;
    clip-path: rect(5px 100% 100% 5px);
}

.cloud{
    position: absolute;
    z-index: 0;
}

nav {
    position: relative;
    overflow: hidden;
}

.container {
    position: relative;
}

.bubble {
    position: absolute;
    width: 50px;
    height: auto;
    z-index: -10;
    filter: brightness(var(--bubble-brightness));
    animation: bubble-float 3s ease-in infinite;
}

@keyframes bubble-float {
    from {
        transform: translateY(0);
        opacity: 0;
    }
    to {
        transform: translateY(-1020px); /* navbar-sized movement */
        opacity: 1;
    }
}

.post_title{
    overflow-wrap: break-word;
    margin-left: 0.5rem;
}
.post_body{
    margin: 5px; 
    box-shadow: 5px 5px 10px var(--shadow-color-02);
    transition: all 100ms ease-out;
    transform: scale(1.00);

    /* Limit text to 3 lines with ellipsis */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 3; /* Max visible lines */
}

.post_body.expanded {
    -webkit-line-clamp: unset; /* Show full text */
}


.post_body:hover{
    margin: 5px; 
    box-shadow: 5px 5px 10px var(--shadow-color-04);
    transition: all 100ms ease-out;
    transform: scale(1.02);
}

.post_body_noscale{
    margin: 5px;
    color: var(--text-color);
    box-shadow: 5px 5px 10px var(--shadow-color-02);
    transition: all 100ms ease-out;
    transform: scale(1.00);
}

.scale-hover{
    transform: scale(1.00);
    transition: all 100ms ease-out;
}

.scale-hover:hover{
    transform: scale(1.2);
}

.paginator-arrows{
    transform: scale(1.00);
    transition: all 100ms ease-out;
}

.paginator-arrows:hover{
    transform: scale(1.3);
}

.paginator-arrows-disabled{
    filter: opacity(25%);
}

.paginator-fixed{
    height: 5rem;
    position: fixed;
    bottom: 0;
    left: 0;
    background: var(--paginator-gradient);
    width: 100%;
    text-align: center;
}

.paginator-blog{
    height: 5rem;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
}

.navbar{
    background: var(--navbar-gradient);
    padding-bottom: 2rem;
}

.nav-link{
    padding: 0.6rem;
    padding-left: 0.2rem;
    transform: scale(1.00);
    transition: all 100ms ease-out;
}

.nav-link:hover{
    padding: 0.6rem;
    transform: scale(1.2);
}


.button_shadow{
    box-shadow: 2px 2px 5px var(--shadow-color-04);
}

.btn-primary{
    color: var(--text-color);
    background-color: var(--button-primary-color);
    border-color: var(--button-border-color);
    transition: all 100ms ease-out;
    transform: scale(1.00);
}

.btn-primary:hover{
    color: var(--text-color);
    background-color: var(--button-primary-color-hover);
    border-color: var(--button-border-color-hover);
    transition: all 100ms ease-out;
    transform: scale(1.03);
}

.btn-primary-disabled{
    background-color: var(--button-disabled);
    border-color: var(--main-button-border-color);
}

.btn-primary-disabled:hover{
    background-color: var(--button-disabled-hover);
    border-color: var(--button-border-color-hover);
}

.btn-primary-disabled:active{
    background-color: var(--button-disabled-active) !important;
    border-color: var(--main-button-border-color);
}

.btn-danger{
    transition: all 100ms ease-out;
    transform: scale(1.00);
}

.btn-danger:hover{
    transition: all 100ms ease-out;
    transform: scale(1.03);
}

.btn-primary:active{
    background-color: var(--button-primary-color) !important;
    border-color: var(--button-border-color-hover) !important; 
}

.card{
    max-width: 100%;
}

.card-header{
    background-color: var(--bg-secondary-color);
    border-bottom: var(--bs-card-border-width) solid var(--bg-border-color);
    position: relative;
    border-radius: 5px;
}

.form-control{
    color: var(--text-color);
    background-color: var(--bg-txtbox-color);
    border-color: var(--txtbox-border-color);

    box-shadow: 2px 2px 5px var(--shadow-color-02);
}

.form-control:focus{
    color: var(--text-color);
    background-color: var(--bg-txtbox-color-focused);
    border-color: var(--txtbox-border-color-focused);

    box-shadow: 2px 2px 15px var(--shadow-color-04);
}

.form-select{
    color: var(--text-color);
    background-color: var(--bg-txtbox-color);
    border-color: var(--txtbox-border-color);
}

.form-select:focus{
    color: var(--text-color);
    background-color: var(--bg-txtbox-color);
    border-color: var(--txtbox-border-color);
}

.div_link{ 
  position:absolute; 
  width:100%;
  height:100%;
  top:0;
  left: 0;

  z-index: 1;

  /* fixes overlap error in IE7/8, 
     make sure you have an empty gif */
  background-image: url('empty.gif');
}
/*https://stackoverflow.com/questions/796087/make-a-div-into-a-link*/